h1 {
  color: #452D59;
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
  color: #543B6A;
}

p {
  color: #775694;
  font-family: sans-serif;
}

body {
  background-color: #E3D5F0;
}
